<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="clientSuite">
    <listeners>
        <listener class-name="com.qa.listeners.execute_listener"></listener>
        <listener class-name="com.qa.listeners.suite_listener"></listener>
        <listener class-name="com.qa.listeners.test_listener"></listener>
        <listener class-name="com.qa.listeners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="1" preserve-order="true" name="TEsting">
        <classes>
            <class name="rebit.tests.LoginPageTest"/>
        </classes>
    </test>
</suite>